@import '../../styles/variables';

.nav-spacer {
    flex: 1 1 auto;
}

.nav__logo {
    max-height: 100%;

    img {
        max-height: 160px;
        transform: translate(-50px, -40px);
    }
}

.nav__first-row {
    height: 80px;
    display: flex;
    align-items: center;

    border-bottom: 0.1px solid $color-primary-transparent;
}

.navigation-button {
    margin-right: 20px;
    color: $color-primary;
}

@media screen and (max-width: 600px) {
    .navigation-button {
        margin-right: 2px;
        min-width: 50px;
    }
}
