@import "../../../styles/variables";
div {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
}

.queue-status__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.queue-status__row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.queue-status__call-count {
    margin-left: 5px;
}

.queue-status__reset-queue {
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    div {
        max-width: 95vw;
    }
}
