.current-users__container {
    .mat-column-username {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 25% !important;
        max-width: 30% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
      
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        div {
            text-align: left;
            display: flex;
            align-items: center;
        }
    }
    .mat-column-name {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 15% !important;
        max-width: 20% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
      
        word-break: break-word;
      
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        div {
            text-align: left;
            display: flex;
            align-items: center;
        }
    }
    .mat-column-isAdmin {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 10% !important;
        max-width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
      
        word-break: break-word;
      
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        div {
            text-align: left;
            display: flex;
            align-items: center;
        }
    }
    .mat-column-isValidated {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 10% !important;
        max-width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
      
        word-break: break-word;
      
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        div {
            text-align: left;
            display: flex;
            align-items: center;
        }
    }
}