<div class="current-users__container">
    <h1>Users</h1>
    <table class="current-users__table" mat-table [dataSource]="currentUsers" class="mat-elevation-z8">
        <!-- Username Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let user">
                <div>
                    {{ user.username }}
                </div>
            </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let user">
                <div>
                    {{ user.name }}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="isAdmin">
            <th mat-header-cell *matHeaderCellDef>Administrator</th>
            <td mat-cell *matCellDef="let user">
                <div>
                    {{ user.isAdmin }}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="isValidated">
            <th mat-header-cell *matHeaderCellDef>Validiert</th>
            <td mat-cell *matCellDef="let user">
                <div>
                    {{ user.isValidated }}
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
