<div class="container">
    <div class="login__container">
        <mat-card class="login__card">
            <form 
                #loginForm="ngForm"
                novalidate
                (ngSubmit)="onSubmit(loginForm.value)">
                <mat-card-title>Login</mat-card-title>
                <mat-card-content>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>username</mat-label>
                            <input
                                matInput
                                type="email"
                                name="username"
                                placeholder="example@example.com"
                                ngModel
                                required
                                email
                                #email="ngModel"
                                autocomplete="current-password">
                            
                            <mat-hint class="input__errors" *ngIf="email.touched">
                                <div *ngIf="email.errors?.email">
                                    username has to be an email
                                </div>
                                <div *ngIf="email.errors?.required">
                                    username can't be empty
                                </div>
                            </mat-hint>
                            </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>password</mat-label>
                            <input
                                matInput
                                #password="ngModel"
                                [type]="hide ? 'password' : 'text'"
                                name="password"
                                placeholder="password"
                                ngModel
                                required
                                autocomplete="current-password">
                            <mat-hint class="input__errors" *ngIf="password.touched">
                                <div *ngIf="password.errors?.required">
                                    password can't be empty
                                </div>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-raised-button
                        color="primary" 
                        type="submit"
                        class="login__button"
                        [disabled]="!loginForm.valid">Login</button>
                </mat-card-actions>
                <mat-card-footer>
                    <div class="login__link">
                        <a routerLink="/register">Don't have an account? Create one here</a>
                    </div>
                </mat-card-footer>
            </form>
        </mat-card>
    </div>
</div>