mat-grid-tile {
    width: 100%;
    // border: solid 2px #000;
    div {
        align-self: start;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: flex-start;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        // app-queue-status {
        //     align-self: start;
        //     min-width: 300px;
        // }
        width: 100%;
    }


}

// @media screen and (max-width: 620px) {
//     mat-grd-title {
//         div {
//             width: 70%;
//         }
//     }
// }