mat-grid-tile {
    border: solid 2px #000;

    div {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-left: 10px;
        app-queue-status {
            align-self: start;
            min-width: 300px;
        }
    }
}