<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <div class="queue__list">
            <h1>Hotline status</h1>
            <app-queue-status
                queueName="Zentrale-Hotline"
                [callsWaiting]="mainHotlineWaiting"
                phoneNumber="+4971716048610">
            </app-queue-status>
            <app-queue-status
                queueName="Hagel-Hotline"
                [callsWaiting]="hailHotlineWaiting"
                phoneNumber="+4971716048650">
            </app-queue-status>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="doubleWindowSize">
        <div>
            <app-current-calls
                [currentCallsInput]="currentCalls">
            </app-current-calls>
        </div>
    </mat-grid-tile>
</mat-grid-list>