.dashboard__container {
    margin: 10px 10px 0;
}

.dashboard__row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.queue__list {
    width: 400px;
}

.current-calls__list {
    width: 100%;
}

.all-calls__list {
    app-all-calls {
        //max-height: 30%;
        //overflow: auto;
    }
}

@media screen and (max-width: 600px) {
    .dashboard__container {

    }

    .dashboard__row {
        flex-direction: column;
    }

    .queue__list {
        width: unset;
    }
}
