.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 20%;
}

.login__card {
    width: 30%;
}


.login__button {
    
}

.login__link {
    text-align: center;
}